<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class = "container">

<h1>All Events</h1>

<table class = "table table-dark">
    <th:block th:each="event : ${events}" scope = "row">
        <tr>
            <td th:text="${event.key}"></td>
            <td th:text="${event.value}"></td>
        </tr>
    </th:block>
    <tr>
        <td scope = "row"> hotspot:</td>
        <td th:replace="fragments :: hotSpot"></td>
    </tr>
</table>

</body>
</html>